# Sampling User App Data
Process time: 30 minutes aprox.

- Dimensions generated:
    - Date (YYYY-MM--DD)
    - Time label (integer)

- Metrics generated: 
    - Traffic (bytes) 
    - Duration (seconds)
    - Frequency (sessions)

In [1]:
import os
import glob
import time
import json
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [4]:
def read_ConfigFile(file):
    import json
    with open(file, 'rb' ) as f:
        json_str = json.load(f)
    return json_str

In [5]:
def generate_time_labels(sampling_period_in_hours):
    """
    Divides a day in time labels according to the "sampling_period_in_hours" parameter.
    """
    
    hours_in_a_day = 24
    n_time_labels = int(hours_in_a_day/sampling_period_in_hours)
    
    df = pd.Series(range(hours_in_a_day + 1))
    df = df.to_frame()
    df.columns = ['hour']
    
    df['time_label'] = pd.qcut(df['hour'], q=n_time_labels, labels=range(1, n_time_labels + 1))

    return df

In [7]:
def get_user_app_dataset(df, sampling_hours, session_innactive_time):
    """
    Resample "App_usage_trace" dataset according to "sampling_hours". Add a time label for each period.
    Example:
    
        For a sampling of 6 hours:
        
            Time label 1: from  0 am -  6 am
            Time label 2: from  6 am - 12 pm
            Time label 3: from 12 pm -  6 pm
            Time label 4: from  6 pm -  0 am
    
    Metrics created:
    Traffic: How many data a user expends in each app in each time label in a given day?.
    Duration: How much time a user expends in each app in each time label in a given day?.
    Frequency: Number of sessions the user make for each app in each time label in a given day.

    """
    
    
    unique_users_counter = set()
    user_app = pd.DataFrame()
    
    df_time_labels = generate_time_labels(sampling_period_in_hours=sampling_hours)
    
    df['timestamp_diff'] = df['timestamp'].diff()
    groups = df.groupby(['user_id', 'app_id'])

    for indexes, group in groups:
        current_user_id = indexes[0]
        current_app_id  = indexes[1]
        group.sort_values(by=['timestamp'], inplace=True)
        group['timestamp_diff'] = group['timestamp'].diff()
        group['seconds_diff']   = group['timestamp_diff'].apply(lambda x: x.total_seconds())

        # seconds diff
        condition_list = [ group['seconds_diff'] > session_innactive_time]  
        choices_list = [1.0]
        group['total_seconds'] = np.select(condition_list, choices_list, default=group['seconds_diff'])
        group['total_seconds'].fillna(1.0, inplace=True)
        group['hour'] = group['timestamp'].dt.hour 

        group = group.merge(df_time_labels, on='hour', how='inner')
        group['date'] = group['timestamp'].dt.date

        group = group.groupby(['date', 'user_id', 'app_id', 'time_label']).agg(traffic_bytes=('traffic_bytes', 'sum'), 
                                                                               duration_sec=('total_seconds', 'sum'),
                                                                               frequency=('seconds_diff', lambda x: (x > session_innactive_time).sum()),
                                                                              )
        group = group.reset_index()
        mask  = (group['traffic_bytes']>0) & (group['duration_sec']>0)
        group = group[mask]
        group['frequency'].loc[group['frequency'] == 0] = 1

        group.to_csv(f'data/0_user_app_sampling_{sampling_hours}.csv',
                         encoding='utf-8', sep=',', mode='a', 
                         header=not os.path.exists(f'data/0_user_app_sampling_{sampling_hours}.csv'),
                         index=False,
                        )
        
        # printing updates
        users_before = len(unique_users_counter)
        unique_users_counter.add(current_user_id)
        users_after = len(unique_users_counter)
        
        
        if (users_before != users_after):
            print(f"Total users processed: {len(unique_users_counter)}")

In [8]:
ConfigFile = read_ConfigFile("ConfigFile.json")

In [9]:
print("SCRIPT 0 - Sampling User App Data")
print()

print("ConfigFile Parameters: ")
for param, value in ConfigFile.items():
    print(param, " : ", value)

SCRIPT 0 - Sampling User App Data

ConfigFile Parameters:
innactive_time_between_app_session_in_seconds  :  60
sampling_period_in_hours  :  6
potential_high_value_users_file  :  0_potential_high_value_users.json
category_apps_dictionary  :  custom_category_apps_dictionary.json

In [10]:
innactive_time_between_app_session_in_seconds = ConfigFile['innactive_time_between_app_session_in_seconds']
sampling_period_in_hours = ConfigFile['sampling_period_in_hours']

# Input Sample

In [10]:
%%time
app_usage = pd.read_csv("data/0_source_data/App_usage_trace.zip",
                        compression='zip',
                        sep=' ',
                        names=['user_id', 'timestamp', 'base_station_id', 'app_id', 'traffic_bytes'],
                        parse_dates=['timestamp'],
                        #nrows=1000
                       )
app_usage

CPU times: user 2min 48s, sys: 190 ms, total: 2min 48s
Wall time: 2min 48s

         user_id           timestamp  base_station_id  app_id  traffic_bytes
0              0 2016-04-20 08:13:19             8194     361           1920
1              0 2016-04-20 08:13:20             8194     361           1764
2              0 2016-04-20 08:13:22             8194     361           4434
3              0 2016-04-20 08:13:30             8194     361            703
4              0 2016-04-20 08:13:31             8194     361           1682
...          ...                 ...              ...     ...            ...
4171945      999 2016-04-26 22:19:17              413       5           2533
4171946      999 2016-04-26 22:19:21              413       5           1361
4171947      999 2016-04-26 22:20:26              413       5           1365
4171948      999 2016-04-26 22:34:13              413       5           1400
4171949      999 2016-04-26 22:54:18              413      70            789

[4171950 rows x 5 columns]

In [11]:
#start process
time_start= time.asctime()
print("Start process at: ", time_start)

get_user_app_dataset(df=app_usage, 
                     sampling_hours=sampling_period_in_hours,
                    session_innactive_time=innactive_time_between_app_session_in_seconds)

# end process
time_end = time.asctime()
elapsed_time = pd.to_datetime(time_end)-pd.to_datetime(time_start)
print("End process at: ", time_end)
print("Total elapsed time (min): ", round(elapsed_time.seconds/60, 3))

Start process at:  Thu Dec 23 18:55:29 2021
Total users processed: 1
Total users processed: 2
Total users processed: 3
Total users processed: 4
Total users processed: 5
Total users processed: 6
Total users processed: 7
Total users processed: 8
Total users processed: 9
Total users processed: 10
Total users processed: 11
Total users processed: 12
Total users processed: 13
Total users processed: 14
Total users processed: 15
Total users processed: 16
Total users processed: 17
Total users processed: 18
Total users processed: 19
Total users processed: 20
Total users processed: 21
Total users processed: 22
Total users processed: 23
Total users processed: 24
Total users processed: 25
Total users processed: 26
Total users processed: 27
Total users processed: 28
Total users processed: 29
Total users processed: 30
Total users processed: 31
Total users processed: 32
Total users processed: 33
Total users processed: 34
Total users processed: 35
Total users processed: 36
Total users processed: 37
Total users processed: 38
Total users processed: 39
Total users processed: 40
Total users processed: 41
Total users processed: 42
Total users processed: 43
Total users processed: 44
Total users processed: 45
Total users processed: 46
Total users processed: 47
Total users processed: 48
Total users processed: 49
Total users processed: 50
Total users processed: 51
Total users processed: 52
Total users processed: 53
Total users processed: 54
Total users processed: 55
Total users processed: 56
Total users processed: 57
Total users processed: 58
Total users processed: 59
Total users processed: 60
Total users processed: 61
Total users processed: 62
Total users processed: 63
Total users processed: 64
Total users processed: 65
Total users processed: 66
Total users processed: 67
Total users processed: 68
Total users processed: 69
Total users processed: 70
Total users processed: 71
Total users processed: 72
Total users processed: 73
Total users processed: 74
Total users processed: 75
Total users processed: 76
Total users processed: 77
Total users processed: 78
Total users processed: 79
Total users processed: 80
Total users processed: 81
Total users processed: 82
Total users processed: 83
Total users processed: 84
Total users processed: 85
Total users processed: 86
Total users processed: 87
Total users processed: 88
Total users processed: 89
Total users processed: 90
Total users processed: 91
Total users processed: 92
Total users processed: 93
Total users processed: 94
Total users processed: 95
Total users processed: 96
Total users processed: 97
Total users processed: 98
Total users processed: 99
Total users processed: 100
Total users processed: 101
Total users processed: 102
Total users processed: 103
Total users processed: 104
Total users processed: 105
Total users processed: 106
Total users processed: 107
Total users processed: 108
Total users processed: 109
Total users processed: 110
Total users processed: 111
Total users processed: 112
Total users processed: 113
Total users processed: 114
Total users processed: 115
Total users processed: 116
Total users processed: 117
Total users processed: 118
Total users processed: 119
Total users processed: 120
Total users processed: 121
Total users processed: 122
Total users processed: 123
Total users processed: 124
Total users processed: 125
Total users processed: 126
Total users processed: 127
Total users processed: 128
Total users processed: 129
Total users processed: 130
Total users processed: 131
Total users processed: 132
Total users processed: 133
Total users processed: 134
Total users processed: 135
Total users processed: 136
Total users processed: 137
Total users processed: 138
Total users processed: 139
Total users processed: 140
Total users processed: 141
Total users processed: 142
Total users processed: 143
Total users processed: 144
Total users processed: 145
Total users processed: 146
Total users processed: 147
Total users processed: 148
Total users processed: 149
Total users processed: 150
Total users processed: 151
Total users processed: 152
Total users processed: 153
Total users processed: 154
Total users processed: 155
Total users processed: 156
Total users processed: 157
Total users processed: 158
Total users processed: 159
Total users processed: 160
Total users processed: 161
Total users processed: 162
Total users processed: 163
Total users processed: 164
Total users processed: 165
Total users processed: 166
Total users processed: 167
Total users processed: 168
Total users processed: 169
Total users processed: 170
Total users processed: 171
Total users processed: 172
Total users processed: 173
Total users processed: 174
Total users processed: 175
Total users processed: 176
Total users processed: 177
Total users processed: 178
Total users processed: 179
Total users processed: 180
Total users processed: 181
Total users processed: 182
Total users processed: 183
Total users processed: 184
Total users processed: 185
Total users processed: 186
Total users processed: 187
Total users processed: 188
Total users processed: 189
Total users processed: 190
Total users processed: 191
Total users processed: 192
Total users processed: 193
Total users processed: 194
Total users processed: 195
Total users processed: 196
Total users processed: 197
Total users processed: 198
Total users processed: 199
Total users processed: 200
Total users processed: 201
Total users processed: 202
Total users processed: 203
Total users processed: 204
Total users processed: 205
Total users processed: 206
Total users processed: 207
Total users processed: 208
Total users processed: 209
Total users processed: 210
Total users processed: 211
Total users processed: 212
Total users processed: 213
Total users processed: 214
Total users processed: 215
Total users processed: 216
Total users processed: 217
Total users processed: 218
Total users processed: 219
Total users processed: 220
Total users processed: 221
Total users processed: 222
Total users processed: 223
Total users processed: 224
Total users processed: 225
Total users processed: 226
Total users processed: 227
Total users processed: 228
Total users processed: 229
Total users processed: 230
Total users processed: 231
Total users processed: 232
Total users processed: 233
Total users processed: 234
Total users processed: 235
Total users processed: 236
Total users processed: 237
Total users processed: 238
Total users processed: 239
Total users processed: 240
Total users processed: 241
Total users processed: 242
Total users processed: 243
Total users processed: 244
Total users processed: 245
Total users processed: 246
Total users processed: 247
Total users processed: 248
Total users processed: 249
Total users processed: 250
Total users processed: 251
Total users processed: 252
Total users processed: 253
Total users processed: 254
Total users processed: 255
Total users processed: 256
Total users processed: 257
Total users processed: 258
Total users processed: 259
Total users processed: 260
Total users processed: 261
Total users processed: 262
Total users processed: 263
Total users processed: 264
Total users processed: 265
Total users processed: 266
Total users processed: 267
Total users processed: 268
Total users processed: 269
Total users processed: 270
Total users processed: 271
Total users processed: 272
Total users processed: 273
Total users processed: 274
Total users processed: 275
Total users processed: 276
Total users processed: 277
Total users processed: 278
Total users processed: 279
Total users processed: 280
Total users processed: 281
Total users processed: 282
Total users processed: 283
Total users processed: 284
Total users processed: 285
Total users processed: 286
Total users processed: 287
Total users processed: 288
Total users processed: 289
Total users processed: 290
Total users processed: 291
Total users processed: 292
Total users processed: 293
Total users processed: 294
Total users processed: 295
Total users processed: 296
Total users processed: 297
Total users processed: 298
Total users processed: 299
Total users processed: 300
Total users processed: 301
Total users processed: 302
Total users processed: 303
Total users processed: 304
Total users processed: 305
Total users processed: 306
Total users processed: 307
Total users processed: 308
Total users processed: 309
Total users processed: 310
Total users processed: 311
Total users processed: 312
Total users processed: 313
Total users processed: 314
Total users processed: 315
Total users processed: 316
Total users processed: 317
Total users processed: 318
Total users processed: 319
Total users processed: 320
Total users processed: 321
Total users processed: 322
Total users processed: 323
Total users processed: 324
Total users processed: 325
Total users processed: 326
Total users processed: 327
Total users processed: 328
Total users processed: 329
Total users processed: 330
Total users processed: 331
Total users processed: 332
Total users processed: 333
Total users processed: 334
Total users processed: 335
Total users processed: 336
Total users processed: 337
Total users processed: 338
Total users processed: 339
Total users processed: 340
Total users processed: 341
Total users processed: 342
Total users processed: 343
Total users processed: 344
Total users processed: 345
Total users processed: 346
Total users processed: 347
Total users processed: 348
Total users processed: 349
Total users processed: 350
Total users processed: 351
Total users processed: 352
Total users processed: 353
Total users processed: 354
Total users processed: 355
Total users processed: 356
Total users processed: 357
Total users processed: 358
Total users processed: 359
Total users processed: 360
Total users processed: 361
Total users processed: 362
Total users processed: 363
Total users processed: 364
Total users processed: 365
Total users processed: 366
Total users processed: 367
Total users processed: 368
Total users processed: 369
Total users processed: 370
Total users processed: 371
Total users processed: 372
Total users processed: 373
Total users processed: 374
Total users processed: 375
Total users processed: 376
Total users processed: 377
Total users processed: 378
Total users processed: 379
Total users processed: 380
Total users processed: 381
Total users processed: 382
Total users processed: 383
Total users processed: 384
Total users processed: 385
Total users processed: 386
Total users processed: 387
Total users processed: 388
Total users processed: 389
Total users processed: 390
Total users processed: 391
Total users processed: 392
Total users processed: 393
Total users processed: 394
Total users processed: 395
Total users processed: 396
Total users processed: 397
Total users processed: 398
Total users processed: 399
Total users processed: 400
Total users processed: 401
Total users processed: 402
Total users processed: 403
Total users processed: 404
Total users processed: 405
Total users processed: 406
Total users processed: 407
Total users processed: 408
Total users processed: 409
Total users processed: 410
Total users processed: 411
Total users processed: 412
Total users processed: 413
Total users processed: 414
Total users processed: 415
Total users processed: 416
Total users processed: 417
Total users processed: 418
Total users processed: 419
Total users processed: 420
Total users processed: 421
Total users processed: 422
Total users processed: 423
Total users processed: 424
Total users processed: 425
Total users processed: 426
Total users processed: 427
Total users processed: 428
Total users processed: 429
Total users processed: 430
Total users processed: 431
Total users processed: 432
Total users processed: 433
Total users processed: 434
Total users processed: 435
Total users processed: 436
Total users processed: 437
Total users processed: 438
Total users processed: 439
Total users processed: 440
Total users processed: 441
Total users processed: 442
Total users processed: 443
Total users processed: 444
Total users processed: 445
Total users processed: 446
Total users processed: 447
Total users processed: 448
Total users processed: 449
Total users processed: 450
Total users processed: 451
Total users processed: 452
Total users processed: 453
Total users processed: 454
Total users processed: 455
Total users processed: 456
Total users processed: 457
Total users processed: 458
Total users processed: 459
Total users processed: 460
Total users processed: 461
Total users processed: 462
Total users processed: 463
Total users processed: 464
Total users processed: 465
Total users processed: 466
Total users processed: 467
Total users processed: 468
Total users processed: 469
Total users processed: 470
Total users processed: 471
Total users processed: 472
Total users processed: 473
Total users processed: 474
Total users processed: 475
Total users processed: 476
Total users processed: 477
Total users processed: 478
Total users processed: 479
Total users processed: 480
Total users processed: 481
Total users processed: 482
Total users processed: 483
Total users processed: 484
Total users processed: 485
Total users processed: 486
Total users processed: 487
Total users processed: 488
Total users processed: 489
Total users processed: 490
Total users processed: 491
Total users processed: 492
Total users processed: 493
Total users processed: 494
Total users processed: 495
Total users processed: 496
Total users processed: 497
Total users processed: 498
Total users processed: 499
Total users processed: 500
Total users processed: 501
Total users processed: 502
Total users processed: 503
Total users processed: 504
Total users processed: 505
Total users processed: 506
Total users processed: 507
Total users processed: 508
Total users processed: 509
Total users processed: 510
Total users processed: 511
Total users processed: 512
Total users processed: 513
Total users processed: 514
Total users processed: 515
Total users processed: 516
Total users processed: 517
Total users processed: 518
Total users processed: 519
Total users processed: 520
Total users processed: 521
Total users processed: 522
Total users processed: 523
Total users processed: 524
Total users processed: 525
Total users processed: 526
Total users processed: 527
Total users processed: 528
Total users processed: 529
Total users processed: 530
Total users processed: 531
Total users processed: 532
Total users processed: 533
Total users processed: 534
Total users processed: 535
Total users processed: 536
Total users processed: 537
Total users processed: 538
Total users processed: 539
Total users processed: 540
Total users processed: 541
Total users processed: 542
Total users processed: 543
Total users processed: 544
Total users processed: 545
Total users processed: 546
Total users processed: 547
Total users processed: 548
Total users processed: 549
Total users processed: 550
Total users processed: 551
Total users processed: 552
Total users processed: 553
Total users processed: 554
Total users processed: 555
Total users processed: 556
Total users processed: 557
Total users processed: 558
Total users processed: 559
Total users processed: 560
Total users processed: 561
Total users processed: 562
Total users processed: 563
Total users processed: 564
Total users processed: 565
Total users processed: 566
Total users processed: 567
Total users processed: 568
Total users processed: 569
Total users processed: 570
Total users processed: 571
Total users processed: 572
Total users processed: 573
Total users processed: 574
Total users processed: 575
Total users processed: 576
Total users processed: 577
Total users processed: 578
Total users processed: 579
Total users processed: 580
Total users processed: 581
Total users processed: 582
Total users processed: 583
Total users processed: 584
Total users processed: 585
Total users processed: 586
Total users processed: 587
Total users processed: 588
Total users processed: 589
Total users processed: 590
Total users processed: 591
Total users processed: 592
Total users processed: 593
Total users processed: 594
Total users processed: 595
Total users processed: 596
Total users processed: 597
Total users processed: 598
Total users processed: 599
Total users processed: 600
Total users processed: 601
Total users processed: 602
Total users processed: 603
Total users processed: 604
Total users processed: 605
Total users processed: 606
Total users processed: 607
Total users processed: 608
Total users processed: 609
Total users processed: 610
Total users processed: 611
Total users processed: 612
Total users processed: 613
Total users processed: 614
Total users processed: 615
Total users processed: 616
Total users processed: 617
Total users processed: 618
Total users processed: 619
Total users processed: 620
Total users processed: 621
Total users processed: 622
Total users processed: 623
Total users processed: 624
Total users processed: 625
Total users processed: 626
Total users processed: 627
Total users processed: 628
Total users processed: 629
Total users processed: 630
Total users processed: 631
Total users processed: 632
Total users processed: 633
Total users processed: 634
Total users processed: 635
Total users processed: 636
Total users processed: 637
Total users processed: 638
Total users processed: 639
Total users processed: 640
Total users processed: 641
Total users processed: 642
Total users processed: 643
Total users processed: 644
Total users processed: 645
Total users processed: 646
Total users processed: 647
Total users processed: 648
Total users processed: 649
Total users processed: 650
Total users processed: 651
Total users processed: 652
Total users processed: 653
Total users processed: 654
Total users processed: 655
Total users processed: 656
Total users processed: 657
Total users processed: 658
Total users processed: 659
Total users processed: 660
Total users processed: 661
Total users processed: 662
Total users processed: 663
Total users processed: 664
Total users processed: 665
Total users processed: 666
Total users processed: 667
Total users processed: 668
Total users processed: 669
Total users processed: 670
Total users processed: 671
Total users processed: 672
Total users processed: 673
Total users processed: 674
Total users processed: 675
Total users processed: 676
Total users processed: 677
Total users processed: 678
Total users processed: 679
Total users processed: 680
Total users processed: 681
Total users processed: 682
Total users processed: 683
Total users processed: 684
Total users processed: 685
Total users processed: 686
Total users processed: 687
Total users processed: 688
Total users processed: 689
Total users processed: 690
Total users processed: 691
Total users processed: 692
Total users processed: 693
Total users processed: 694
Total users processed: 695
Total users processed: 696
Total users processed: 697
Total users processed: 698
Total users processed: 699
Total users processed: 700
Total users processed: 701
Total users processed: 702
Total users processed: 703
Total users processed: 704
Total users processed: 705
Total users processed: 706
Total users processed: 707
Total users processed: 708
Total users processed: 709
Total users processed: 710
Total users processed: 711
Total users processed: 712
Total users processed: 713
Total users processed: 714
Total users processed: 715
Total users processed: 716
Total users processed: 717
Total users processed: 718
Total users processed: 719
Total users processed: 720
Total users processed: 721
Total users processed: 722
Total users processed: 723
Total users processed: 724
Total users processed: 725
Total users processed: 726
Total users processed: 727
Total users processed: 728
Total users processed: 729
Total users processed: 730
Total users processed: 731
Total users processed: 732
Total users processed: 733
Total users processed: 734
Total users processed: 735
Total users processed: 736
Total users processed: 737
Total users processed: 738
Total users processed: 739
Total users processed: 740
Total users processed: 741
Total users processed: 742
Total users processed: 743

# Output Sample

In [125]:
print(f"Sampling: {sampling_period_in_hours} hours")

user_app = pd.read_csv(f"data/0_user_app_sampling_{sampling_period_in_hours}.csv",
                       sep=',',
                       encoding='utf-8',
                       parse_dates=['date'],
                      )
user_app

             date  user_id  app_id  time_label  traffic_bytes  duration_sec  frequency
0      2016-04-20        0       1           2           7703           6.0        5.0
1      2016-04-20        0       1           4          26437          37.0        4.0
2      2016-04-21        0       1           2          34645          37.0        9.0
3      2016-04-21        0       1           3         311443          15.0        6.0
4      2016-04-21        0       1           4         226411         168.0       12.0
...           ...      ...     ...         ...            ...           ...        ...
217861 2016-04-22      997    1629           3          22458          55.0        1.0
217862 2016-04-22      997    1629           4          52615          93.0        1.0
217863 2016-04-26      997    1629           4          37313          71.0        1.0
217864 2016-04-22      998     622           3         917406          30.0        1.0
217865 2016-04-25      998     622           2          19036           2.0        1.0

[217866 rows x 7 columns]

# Save potential High Value Users
Note: you can make more filtering according to the business needs before save the list.

In [14]:
potential_high_value_users = {}
potential_high_value_users['big_chinese_city'] = (pd.Series(user_app['user_id'].unique())).to_list()

In [15]:
with open("data/0_potential_high_value_users.json", "w") as fp:
    json.dump(potential_high_value_users,fp)

In [115]:
user_app['user_id']    = user_app['user_id'].astype('str')
user_app['app_id']     = user_app['app_id'].astype('str')
user_app['time_label'] = user_app['time_label'].astype('str')

In [116]:
app2category = pd.read_csv("data/0_source_data/App2Category.zip",
                        compression='zip',
                        sep='\t',
                        names=['app_id', 'category_id'],
                        dtype={'app_id':'int64', 'category_id':'int64'}
                       )
app2category

      app_id  category_id
0          1            4
1          2            4
2          3            4
3          4           13
4          5            4
...      ...          ...
1995    1996            5
1996    1997           14
1997    1998            0
1998    1999           10
1999    2000            0

[2000 rows x 2 columns]

In [117]:
categories = pd.read_csv("data/0_source_data/Categorys.zip",
                         compression='zip',
                         sep='\t',
                         names=['category_id', 'english_name'],
                        ).dropna()

categories['category_id'] = categories['category_id'].astype('int64')
categories['english_name'] = categories['english_name'].astype('str')
categories['english_name'] = categories['english_name'].str.replace('\\', '')
categories['english_name'] = categories['english_name'].str.replace("'", "")
categories['english_name'] = categories['english_name'].str.replace("Weath1er", "Weather")
categories

    category_id       english_name
0             0          Utilities
1             1              Games
2             2      Entertainment
3             3               News
4             4  Social_Networking
6             5           Shopping
7             6            Finance
8             7           Business
9             8             Travel
10            9         Lifestyle
12           10          Education
13           11    Health&Fitness
14           12         infant&mom
15           13         Navigation
16           14            Weather
17           15              Music
18           16        References
19           17              Books
20           18        Photo&Video
21           19             sports

In [118]:
categories_dictionary = app2category.merge(categories, on='category_id', how='inner')
categories_dictionary

      app_id  category_id       english_name
0          1            4  Social_Networking
1          2            4  Social_Networking
2          3            4  Social_Networking
3          5            4  Social_Networking
4          6            4  Social_Networking
...      ...          ...                ...
1995     957           11    Health&Fitness
1996    1331           11    Health&Fitness
1997    1868           11    Health&Fitness
1998    1538            7           Business
1999    1715            7           Business

[2000 rows x 3 columns]

In [119]:
categories_dictionary['app_id'] = categories_dictionary['app_id'].astype('str')
categories_dictionary['category_id'] = categories_dictionary['category_id'].astype('str')
categories_dictionary['english_name'] = categories_dictionary['english_name'].astype('str')

In [120]:
# save complete category apps dictionary
categories_dictionary_json = categories_dictionary.groupby('english_name').agg({'app_id': list}).to_dict()
categories_dictionary_json = categories_dictionary_json['app_id']
with open("data/1_category_apps_dictionaries/all_category_apps_dictionary.json", "w") as fp:
    json.dump(categories_dictionary_json,fp, indent=4)

In [121]:
user_app = user_app.merge(categories_dictionary, on='app_id', how='inner')
user_app

             date user_id app_id time_label  traffic_bytes  duration_sec  frequency category_id       english_name
0      2016-04-20       0      1          2           7703           6.0        5.0           4  Social_Networking
1      2016-04-20       0      1          4          26437          37.0        4.0           4  Social_Networking
2      2016-04-21       0      1          2          34645          37.0        9.0           4  Social_Networking
3      2016-04-21       0      1          3         311443          15.0        6.0           4  Social_Networking
4      2016-04-21       0      1          4         226411         168.0       12.0           4  Social_Networking
...           ...     ...    ...        ...            ...           ...        ...         ...                ...
217861 2016-04-22     997   1629          3          22458          55.0        1.0           1              Games
217862 2016-04-22     997   1629          4          52615          93.0        1.0           1              Games
217863 2016-04-26     997   1629          4          37313          71.0        1.0           1              Games
217864 2016-04-22     998    622          3         917406          30.0        1.0           0          Utilities
217865 2016-04-25     998    622          2          19036           2.0        1.0           0          Utilities

[217866 rows x 9 columns]

In [123]:
user_app.to_csv(f'data/0_user_app_sampling_{sampling_period_in_hours}.csv',
                index=False,
                encoding='utf-8', 
                sep=',',
                )