In [2]:
import os
import glob
import time
import pandas as pd
import numpy as np

In [3]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [4]:
app2category = pd.read_csv("../data/0_source_data/App2Category.zip",
                              compression='zip',
                              sep='\t',
                              names=['app_id', 'category_id'],
                             )
app2category

      app_id  category_id
0          1            4
1          2            4
2          3            4
3          4           13
4          5            4
...      ...          ...
1995    1996            5
1996    1997           14
1997    1998            0
1998    1999           10
1999    2000            0

[2000 rows x 2 columns]

In [5]:
app2category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   app_id       2000 non-null   int64
 1   category_id  2000 non-null   int64
dtypes: int64(2)
memory usage: 31.4 KB

In [12]:
# Schema overview
df = app2category
for col in df.columns:
    
    print('=======================', col, '=======================')
    print('Unique values --> ', df[col].nunique())
    if (df[col].nunique() <= 30):
        print(df[col].unique())
        print('Distribution: ')
        print(df[col].value_counts())
    else:
        print(df[col].unique()[:5], '...')
    print()

======================= app_id =======================
Unique values -->  2000
[1 2 3 4 5] ...

======================= category_id =======================
Unique values -->  20
[ 4 13  1 15  3  0  9  2  8 16  5 17  6 19 14 18 10 12 11  7]
Distribution:
0     1033
4      151
3      131
9       96
6       71
2       69
15      68
13      68
5       60
1       59
8       55
17      34
18      27
14      25
10      14
16      12
12      10
19       9
11       6
7        2
Name: category_id, dtype: int64